h1, h2, h4 {
    font-weight: bold;
}

h1, h4 {
    text-transform: uppercase;
}

h4 {
    color: rgba($black, .5);
    font-weight: bold;
}


p {
    color: black;
}

.statistics {
    margin-top: 1rem;
}

.card {
    min-height: 500px;
    margin-top: 2rem;
}

.card-header {
    border-bottom: 1px solid $border-color;
}


.k-tabstrip > .k-tabstrip-items {
    margin-top: 2rem;
    border: 0;
}

.card {
    border-radius: 5px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.card-header {
    padding: 0.65rem 1.25rem;
    font-weight: 400;
}

.card-body {
    padding: 1.5rem;
}

small, .small {
    font-size: 70%;
}

.form-control {
    box-shadow: none;
    border: none;
}

.img-circle {
    border-radius: 200rem;
    margin-right: .3rem;

    &.img-large {
        border: .2rem solid $accent;
    }
}

.navbar {
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
}

.navbar-btn {
    padding: 20px;
    background: url('assets/hamburger.svg') no-repeat 0 70%;
}

@media(max-width: 768px) {
    #side-nav, .content-wrapper {
        padding-top: 1rem;
    }
    .k-tabstrip-items {
        display: none;
    }
    .content-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}


@media(min-width: 768px) {
    .content-wrapper {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media(min-width: 1200px) {
    small, .small {
        font-size: 80%;
    }
}
