/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "src/_custom";
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@progress/kendo-theme-bootstrap/scss/all';
@import 'src/dashboard.style';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
